  <div class="jumbotron">
    <h1 class="title">18K Offer</h1>
    <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
     凭借自己的努力和天份也会变 Winner
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fdmoumgfn3j303k03kdfl.jpg" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>青岛202</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fdmp1bcuq8j303k03kgld.jpg" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>info@offer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fdmp4ekkrpj303k03ka9u.jpg" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>0532-1234567</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
